/* White: #ffffff;
Light grayish violet: #dedddf;
Dark grayish violet:#8e8593 ;
Very dark violet:  #21092f; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  /* background-color: #dedddf; */
}

.forms {
  display: flex;
}

.form__box {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  padding: 31rem;
}
.name__box {
  display: flex;
  flex-direction: column;
}

.info__box {
  display: flex;
  gap: 2rem;
}
.expiry {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expiry__box {
  display: flex;
  gap: 0.5rem;
}
.cvc__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  padding: 1.4rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  background-color: #600594;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.front__card {
  background-image: url(images/bg-card-front.png);
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 42rem;
  height: 21rem;
  top: 20%;
  left: 20%;
  border-radius: 1rem;
  z-index: 2;
}

.card__logo {
  width: 18%;
}

.card__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details__number {
  font-size: 2.7rem;
  letter-spacing: 2.5px;
  color: #fff;
}

.details__name-box {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.4rem;
}
.details__name {
  text-transform: uppercase;
}
.details__expiry {
  letter-spacing: 3px;
}

.back__card {
  background-image: url(images/bg-card-back.png);
  background-size: cover;
  width: 42rem;
  height: 21rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 25%;
  left: 25%;
}

.back__number {
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  top: 47%;
  right: 13%;
}

.success {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 31rem;
  width: 80%;
}
.success__logo {
  width: 6rem;
  height: 6rem;
}
.success__heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.success__text {
  font-size: 1.4rem;
  font-weight: 300;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
