.uppercase {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  color: #21092f;
  /* color: #8e8593; */
  display: block;
}

.input__details {
  /* max-width: 100%; */
  width: 100%;
  padding: 0.9rem 1.2rem;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 6px;
  outline: none;
  border: 1px solid #0000003b;
}

.error__month,
.error__year,
.error__name,
.error__name-short,
.error__num,
.error__number,
.error__expiry,
.error__cvc,
.error__cvc-num {
  display: none;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ff5252;
}

.gap {
  gap: 0.4rem;
}
